_format_version: "1.1"

services:
  - name: auth
    url: http://auth:9999
    routes:
      - name: auth-route
        strip_path: true
        paths:
          - /auth/v1/
    plugins:
      - name: cors

  - name: rest
    url: http://rest:3000
    routes:
      - name: rest-route
        strip_path: true
        paths:
          - /rest/v1/
    plugins:
      - name: cors

  - name: storage
    url: http://storage:5000
    routes:
      - name: storage-route
        strip_path: true
        paths:
          - /storage/v1/
    plugins:
      - name: cors

  - name: meta
    url: http://meta:8080
    routes:
      - name: meta-route
        strip_path: true
        paths:
          - /pg/

plugins:
  - name: cors
    config:
      origins:
        - "*"
      methods:
        - GET
        - POST
        - PUT
        - PATCH
        - DELETE
        - OPTIONS
      headers:
        - Accept
        - Accept-Version
        - Content-Length
        - Content-MD5
        - Content-Type
        - Date
        - X-Auth-Token
        - Authorization
        - apikey
        - X-Client-Info
      exposed_headers:
        - X-Auth-Token
      credentials: true
      max_age: 3600
